apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  strategy:
      type: Recreate
  template:
    metadata:
      labels:
        app: backend
    spec:
      volumes:
        - name: shared-image
          persistentVolumeClaim:
            claimName: image-claim
      containers:
        - name: backend
          image: PROJECT/todoapp
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "100m"
          env:
          - name: IMAGE_URL
            valueFrom:
              configMapKeyRef:
                name: backend-config
                key: IMAGE_URL
          - name: IMAGE_EXPIRY_MINUTES
            valueFrom:
              configMapKeyRef:
                name: backend-config
                key: IMAGE_EXPIRY_MINUTES
          - name: IMAGE_FILE
            valueFrom:
              configMapKeyRef:
                name: backend-config
                key: IMAGE_FILE
          - name: META_FILE
            valueFrom:
              configMapKeyRef:
                name: backend-config
                key: META_FILE
          - name: PORT
            valueFrom:
              configMapKeyRef:
                name: backend-config
                key: PORT
          volumeMounts:
            - name: shared-image
              mountPath: /shared
